*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --background: #FFF1D0;
}
body{
  background-color: #BF0603;
}
div.parent{
  display: flex;
  flex-wrap: wrap;
}
article, aside{
  background-color: #FFF1D0;
  padding: 2.5%;
  }
article{
  width: 75%;
  margin-right: 0.5%;
}
aside{
  width: 24%;
  margin-left: 0.5%;
}
section{
  background-color: #E6C3A6;
  padding: 2.5%;
  margin: 1.5%;
}
div.subcontainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  grid-gap: 1em;
}

div.color{
  display: grid;
  height: 10em;
  width: 10em;
  justify-items: center;
  align-items: center;
  border: black solid;
}
div.color h3{
  background-color: white;
  color: black;
  padding: 1.5%;
}
h1,h2,h3{
  font-family: Impact, Charcoal, sans-serif;
  color: #BF0603;
  font-weight: lighter;
}
p{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #080705;
  font-size: 1.1em;
}
p.heading{
  font-family: Impact, Charcoal, sans-serif;
}
h1, p.h1{
  font-size: 2.5em;
}
h2, p.h2{
  font-size: 2em;
}
h3, p.h3{
  font-size: 1.5em;
}
a{
  text-decoration: none;
}
em{
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  div.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  article{
    width: 100%;
    margin: 0.5%;
  }
  aside{
    width: 100%;
    margin: 0.5%;
  }
}
/* navigation styles start here- ending point of navigation bar is also commented at the end */

@media screen and (min-width: 860px) {
  label.nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  h1.pizzalogo {
    grid-column: 2 / 3;
  }
  header nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    transition: none;
    position: relative;
  }

  .uniquetop::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 300ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
  }
}
header {
  background: var(--background);
  text-align: center;
  z-index: 999;
  width: 105%;
  position: fixed;
  top: 0;
  margin-left: -10px;
  margin-right: 5px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #7B3E19;
  font-weight: 800;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 150ms ease-in-out 150ms;
  cursor: pointer;
}
nav a:hover {
  color: #080705;
  font-weight: bolder;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #BF0603;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 150ms;
}
/*creating the dropdown styles for menu and order online tabs on the navigation menu is done here*/
.dropbtn {
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transform: none;
  transition: none;
  opacity: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E6C3A6;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* navigation styles end here*/


/* Footer styles start here*/

div.footersec1 {
  display: flex;
  padding: 1%;
  background-color: #080705;
  flex-wrap: wrap;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5%;
  padding: 0px;
  margin: 0 auto;
}
div.item{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 2px;
}
div.item h4{
  color: #FFF1D0;
  padding: 0px;
  text-align: center;
}
.fa {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-bottom: -20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/*Footer styles end here*/

button{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
}
.button1 {
    border: none;
    background-color: #bf0603;
    padding: 2.5%;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #FFF1D0;
    margin: 2.0%;
    cursor: pointer;
    transition: 0.4ms;
    border-radius: 10px;
}
.button1:hover{
    background-color: brown;
    color: #FFF1D0;
}
.button2{ border: none;
    background-color: #FFF1D0;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: #bf0603;
    margin: 55px;
    cursor: pointer;
    font-family: sans-serif;
    transition: 1s;
    border-radius: 10px;

}

.button2:hover{
    background-color: #bf0603;
    color:#FFF1D0;
    border-radius:3px;
}

.button3 {
    border: none;
    background-color: #bf0603;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    width:200px;
    height:100px;
    color: #FFF1D0;
    margin: 55px;
    cursor: pointer;
    font-family: sans-serif;
    transition: width 1s,height 1s;
    transition-property: width, height;
    transition-duration: 1s,1s;
    transition-timing-function: ease,ease;
    transition-delay: 0s,0s;
    border-radius: 10px;
}
.button3:hover{
    background-color: #FFF1D0;
    color: #bf0603;
    font-size:45px;
    border-radius:15px;
    width:300px;
    height:200px;
}
.button4 {
    border: none;
    background-color: #FFF1D0;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    width:200px;
    height:100px;
    color: #bf0603;
    margin: 55px;
    cursor: pointer;
    font-family: sans-serif;
    transition: width 1s;
    transition-timing-function: linear;
    border-radius: 10px;
}
.button4:hover{
    background-color: #bf0603;
    color: #FFF1D0;
    font-size:40px;
    border-radius:15px;
    width:400px;
}
div.card{
  width: 50%;
  display: grid;
  border: black solid;
  background-color: #FFF1D0;
}
div.cardItem{
  padding: 2.5%;
}
img.cardImage{
  width: 100%;
}
div.cardBar{
  display: flex;
}
@media screen and (max-width: 500px) {
  div.card{
    width: 100%;
  }
}