body, html {
  height: 550px;
  width:450px;
}

.container {
  align: center;
  display: grid;
  border: 2px solid #080705;
  box-shadow: 0 0 8px #080705;
  grid-template-areas:
    'header header header'
    'pic pic pic'
    'helptext helptext helptext'
    'action1 action2 action3';
  grid-gap: 2px;
}

.cell {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 4rem;
}

.item1 {
  grid-area: header;
  background: #fff1d0;
  color: #080705;
  font-size: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: bold;
}

.item2 {
  grid-area: pic;
  border: 3px solid #080705;
}

.item3 {
  grid-area: helptext;
  font-size: 0.9rem;
  background: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #fff1d0;
  border: 1px solid #080705;
  font-weight: bold;
}

.item4 {
  grid-area: action1;
  margin-top: 0;
  padding: 7px;
  width: 110px;
  height: 100px;
  background: white;
  background: #fff1d0;
  border: 1px solid #080705;
}

.item5 {
  grid-area: action2;
  width: 138px;
  height: 100px;
  padding: 7px;
  background: white;
  background: #fff1d0;
  border: 1px solid #080705;
}

.item6 {
  grid-area: action3;
  width: 138px;
  height: 100px;
  padding: 7px;
  background: white;
  background: #fff1d0;
  border: 1px solid #080705;
}

.fa {
  font-size: 20px;
  cursor: pointer;
}

.checked {
  color: orange;
}

button {
  margin-top: 12px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: #080705;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: red;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.rating {
  margin-top: 2px;
  font-weight: bolder;
}
