*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background-color: #E6C3A6;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
}

.header {
  background-color: #BF0603;
}

.topic {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
}

.fa {
  font-size: 20px;
  cursor: pointer;
}

.button {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #bf0603;
  font-size: 20px;
  color: #FFF1D0;
  width: 100px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
}

.buttonlist {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150px;
  flex-direction: row;
  list-style: none;

}

.bodymenu {
  color: black;
  font-weight: bolder;
  text-align: justify;
}

div.bodymenu .extra {
  display: none;
  position: relative;
  animation: animatetop 0.25s;
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1;
    }
}

p:hover .extra {
    display: inline-block;
}

.hide {
  font-size: 24px;
  font-style: italic;
  color: #7B3E19;
}

p {
  font-size: 20px;
}

div.card{
  width: 318px;
  display: grid;
  border: black solid;
  background-color: #FFF1D0;
}
div.cardItem{
  padding: 2.5%;
}
img.cardImage{
  width: 100%;
}
div.cardBar{
  display: flex;
}

.link {
  color: white;
}

@media screen and (max-width: 450px) {
  div.card{
    width: 100%;
  }
}
